html, body, #root {
  height: 100%;
  background: $app-background;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.app-container {
  width: 80%;
  margin: 0 auto;
  background: white;
  position: relative;
  min-width: 1300px;
}

.app {
  height: 100%;
}

.app-header {
  background: #333333;
  height: 50px;
  border-bottom: 1px solid #ccc;
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0.01rem 9999rem;
}
