.search {
  background: #ccc;
  border-radius: 10px;
  width: 40%;
  display: flex;
  vertical-align: middle;
  position: relative;
}

.search img {
  padding-top: 5px;
  padding-bottom: 5px;
}

.search input {
  padding-top: 5px;
  padding-bottom: 5px;
  background: #ccc;
  border: none;
  width: 80%;
  font-size: 16px;
  padding-left: 5px;
}

.search input:focus {
  outline: none;
}

.search-results {
  position: absolute;
  top: 42px;
  left: 25px;
  background: #333333;
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  z-index: 1;
  width: 80%;
}

.search-results .hidden {
  display: none;
}

.search-results li {
  padding: 5px;
}

.search-results img {
  width: 25px;
  height: 25px;
}

.search-results span {
  font-size: 18px;
}

.result {
  display: flex;
  cursor: pointer;
  padding-left: 20px;
}
