.stream-container {
  padding: 10px;
}

.stream-container h1 {
  margin-left: 175px;
}

.stream-header {
  display: flex;
}

.stream-header h1 {
  margin-left: 20px;
  border-bottom: solid 1px #ccc;
  cursor: pointer;
  margin-left: 175px;
}

stream-tracks-container {
  border-top: 1px solid #ccc;
}
