.track-container {
  padding: 15px 10px;
}

.track-header {
  padding: 15px 10px;
  display: flex;
  font-size: 14px;
}

.track-header img {
  cursor: pointer;
}

.header-artist {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  cursor: pointer;
}

.header-detail {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.track-body {
  display: flex;
}

.track-body-image {
  padding-right: 20px;
}

.track-body-image img {
  cursor: pointer;
}

.track-body-info-details {
  display: flex;
}

.track-body-info-details img {
  padding-top: 5px;
  padding-bottom: 5px;
}

.track-body-info-details-artist-details {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.genre {
  font-style: italic;
}

.track-body-info-details-artist-details span {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.track-body-info-comment {
  margin-top: 15px;
}

.play-button {
  cursor: pointer;
}

.track-body-info-icons {
  display: flex;
}

.track-body-info-icons img {
  cursor: pointer;
}

.hide-icon {
  display: none;
}
