.track-container {
  padding: 25px 10px;
  margin-left: 175px;
}

.track-header {
  padding: 5px;
  display: flex;
  font-size: 14px;
  align-items: flex-end;
}

.track-header img {
  cursor: pointer;
  border-radius: 50%;
}

.header-artist {
  padding-left: 15px;
  cursor: pointer;
}

.header-artist:hover {
  color: #a6a6a6;
}

.header-detail {
  padding-top: 25px;
  padding-left: 5px;
}

.track-body {
  display: flex;
}

.track-body-image {
  padding-right: 20px;
  line-height: 0;
}

.track-body-image img {
  cursor: pointer;
}

.track-body-info {
  width: 60%;
  position: relative;
}

.track-body-info-details {
  display: flex;
  padding-bottom: 15px;
}

.track-body-info-details img {
  padding-top: 5px;
  padding-bottom: 5px;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Pulse */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.track-body-info-details-artist-details {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.genre {
  font-style: italic;
  background: #b3b3b3;
  color: white;
  padding: 0 10px;
  border-radius: 10px;
}

.track-body-info-details-artist-details span {
  padding-top: 10px;
  padding-bottom: 10px;
}

.track-body-info-comment {
  margin-top: 15px;
}

.cursor {
  cursor: pointer;
}

.track-body-info-icons {
  display: flex;
  position: absolute;
  bottom: 0;
}
.track-body-info-icons span {
  padding: 0 5px;
}

.track-body-info-icons img {
  cursor: pointer;
  padding: 0 10px;
}

.hide-icon {
  display: none;
}

.track-body-info-icons .hide-pointer {
  cursor: default;
}

.track-detail-title {
  margin-left: 175px;
}

/* Shrink */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
