.user-stream-header {
  display: flex;
}

.user-stream-header-details {
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
}

.user-stream-header-img {
  padding: 10px;
}

h1 {
  font-size: 32px;
}
