.app {
  background: #f2f2f2;
  height: 1000px;
}

.app-header {
  background: #333333;
  height: 50px;
  border-bottom: 1px solid #ccc;
}

.app-container {
  width: 80%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  background: white;
}

.navbar {
  height: 50px;
  background: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  color: white;
  border-bottom: 1px solid #ccc;
}

.nav-logo {
  display: flex;
  align-self: flex-start;
  justify-content: flex-start;
  background-image: linear-gradient(red, #f06d06);
}

.nav-h1 {
  font-family: 'Exo', sans-serif;
  font-size: 32px;
  align-self: flex-start;
  padding-left: 5px;
  padding-right: 5px;
}

.nav-img {
  height: 45px;
  width: 45px;
  align-self: flex-start;
  padding: 2.5px;
}

.nav-links {
  display: flex;
  align-self: flex-end;
  align-items: center;
}

.nav-link {
  color: lightgrey;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 10px;
}

.nav-link:hover {
  color: white;
}
